<div class="container-fluid">
  <div class="row">
    <div class="col-lg-9 col-sm-12">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Global Search"
          aria-label="Recipient's username"
          aria-describedby="button-addon2"
          [(ngModel)]="globalSearch"
          (ngModelChange)="this.search.next($event)"
        />
      </div>
    </div>
    <div class="col-lg-3 col-sm-12 text-right">
      <div class="row">
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="left"
            title="Edit"
          >
            <i class="fa fa-pencil"></i>
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="left"
            title="Delete"
          >
            <i class="fa fa-trash"></i>
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="left"
            title="Column Filter"
          >
            <i class="fa fa-filter"></i>
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="left"
            title="Export as CSV"
          >
            <i class="fa fa-download"></i>
          </button>
        </div>
        <div class="col-2">
          <button
            type="button"
            class="btn btn-primary"
            data-toggle="tooltip"
            data-placement="left"
            title="Resize All Columns"
          >
            <i class="fa fa-arrows-h"></i>
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="this.rowData">
    <div class="col-lg-4 col-sm-12">
      <multiselect-dropdown
        [placeholder]="'Deselect a Column'"
        [data]="dropDownList"
        [(ngModel)]="selectedItems"
        [settings]="dropdownSettings"
        (onSelect)="onItemSelect($event)"
        (onSelectAll)="onSelectAll($event)"
        (onDeSelect)="onItemUnSelect($event)"
        (cdkDropListDropped)="drop($event)"
      >
      </multiselect-dropdown>
    </div>
    <div class="col-lg-8 col-sm-12 text-right">
      PAGE:
      <input
        type="number"
        style="width: 50px"
        [(ngModel)]="pagination.current"
        (ngModelChange)="this.currentPageText.next($event)"
      />
      / {{ pagination.total }}
      <button
        class="btn btn-primary"
        data-toggle="tooltip"
        data-placement="left"
        title="Previous Page"
        (click)="previousPage()"
      >
        <i class="fa fa-angle-left"></i>
      </button>
      {{ pages.begin }}-{{ pages.end }} of
      {{ pages.total }}
      <button
        class="btn btn-primary"
        data-toggle="tooltip"
        data-placement="left"
        title="Next Page"
        (click)="nextPage()"
      >
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </div>
  <br />

  <app-grid
    [columnName]="columnDefs"
    [components]="components"
    [hasRowAnimation]="true"
    [rowModelType]="this.rowModelType"
    [rowData]="this.rowData"
    [hasFloatingFilter]="this.floatingFilter"
    [frameworkComponents]="frameworkComponents"
    (gridReady)="OnGridReady($event)"
  >
  </app-grid>
</div>
